html {
    box-sizing: border-box;
}


/******************************************************************************
*																			  *		
* 							above the game board       						  *	
*																			  *
*******************************************************************************/

h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 100px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.board-font{
	font-family: 'Amatic SC', cursive;

}

.top{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.score-board{
	display: flex;
	height: 130px;
}


#moves{
	display: inline-block;
	font-size: 45px;
	font-weight: 500;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 45px;
	padding-right: 15px;
	padding-left: 25px;
}


.star {
	color: yellow;
	font-size: 55px;
}

.star-position{
	padding-top: 40px;
	padding-left: 7px;
	padding-right: 7px;

}

.redo{
	color: gray;
	font-size: 45px;
	padding-left: 8px;
}

.restart{
	margin-left: auto;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
}

.restart-text{
	margin-top: 0px;
	margin-bottom: 0px;
}

.timer{
	font-size: 45px;
	width: 152px;
}

.moves-outer{
	width:130px;
}


/******************************************************************************
*																			  *		
* 									Board           						  *	
*																			  *
*******************************************************************************/


.grid-container{
	width: 600px;
	height: 600px;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto;
    background: linear-gradient(140deg, #6200EE 0%, #3700B3 100%);	
    grid-gap: 1em;
	padding: 15px;
	border-radius: 10px;
}

.grid-item{
	background-color: #03DAC6;
	height: 133px;
	width: 133px;
	box-shadow: 10px 15px 20px 0 rgba(46, 61, 73, 0.5);
	border-radius: 20px;
	margin:auto;
	transform: : rotateY(0);
}


.fas{
	color:white;
	visibility: hidden;
	font-size: 90px;
	padding: 20px;

}


.card-open{
	transform: rotateY(180);
	background-color: #018786;
}

.fas-open{
	visibility: visible;
}

.no-match{
	animation: shake 0.7s;
	animation-iteration-count: infinite;
}

.match{
	animation: correct 0.5s;
}

/******************************************************************************
*																			  *		
* 							End Game Box            						  *	
*																			  *
*******************************************************************************/

#end-game-box{
	position: absolute;
	top: 25%;
	/* I don't know why left:25% centers the box in the page. But 50% puts it too far right */
	left: 20%;
	width: 600px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 10px 15px 20px 0 rgba(46, 61, 73, 0.5);
	padding: 10px;
	display: none;
}

.end-screen{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    filter: blur(3px);
    pointer-events: none;   
}

#congrats{
	text-align: center;
	font-size: 50px;
	margin: 10px 0 15px 0;

}

#end-restart-button{
	text-align: center;
	border: 1px solid lightgrey;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: lightblue;
}

#end-stars{
	text-align: center;
	padding: 20px 0 20px 0;
}

#stats-outer{
	display: flex;
	justify-content: space-around;
}

.stats-inner{
	border:10px solid lightblue;
	display: inline-block;
	border-radius: 8px;
}

.stats-disp{
	padding:5px 30px 5px 40px;
}

.end-font{
	font-family: 'Architects Daughter', cursive;
	font-size: 24px;
	text-transform: uppercase;

}




/******************************************************************************
*																			  *		
* 									Animations       						  *	
*																			  *
*******************************************************************************/


@keyframes correct {
	0% { transform:scale(1.1,1.1);}
	20% { transform:scale(1.3,1.3);}
	40% { transform:scale(1.1,1.1);}
	60% { transform:scale(1.3,1.3);}
	80% { transform:scale(1.1,1.1);}
	100% { transform:scale(1.0,1.0); background-color: #83ed3d;}
}


@keyframes shake {
    0% { transform: translate(3px, 3px) rotate(1deg); }
    10% { transform: translate(-3px, -4px) rotate(-2deg) ; }
    20% { transform: translate(-5px, 2px) rotate(3deg); }
    30% { transform: translate(5px, 4px) rotate(-1deg) ; }
    40% { transform: translate(3px, -3px) rotate(3deg); }
    50% { transform: translate(-4px, 5px) rotate(-3deg); background-color: #ed516b;}
    60% { transform: translate(-4px, 0px) rotate(2deg); }
    70% { transform: translate(5px, 3px) rotate(-4deg); }
    80% { transform: translate(-4px, -4px) rotate(3deg); }
    90% { transform: translate(3px, 4px) rotate(3deg); }
    100% { transform: translate(3px, -5px) rotate(-4deg); background-color: #ed516b;}
}

